#navList {
    list-style: none;
    /* when u use this no dot will occur in html list*/
    background-color: pink;
  }
  
  .navContainer {
    width: 100vw;
    height: 20vh;
  }
  
  .conatiner {
    height: 100vh;
    width: 100vw;
    overflow-x: none;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #text {
    font-size: 50px;
    text-align: center;
    line-height: 100px;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  }
  
  #login {
    justify-content: center;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    color: black;
    margin-right: 170px;
    margin-left: 170px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  
  .footerClass {
    background-color: #A9C9FF;
    background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
    text-align: center;
    min-height: 20px;
  }
  
  .contentBox section {
    width: 70%;
    margin: auto;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
  }
  
  .rightBox {
    flex-basis: 50%;
    padding: 20px;
    gap: 1rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  
  .rightBox img {
    width: 450px;
    height:450px;
  }